.container{
    max-width: 1400px;
    margin: auto;

}



.main{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
flex-direction: column;
height: 90vh;
color: $color-white;
background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url(../media/aprenderamanejar.jpg)
;
background-repeat: no-repeat;
background-size:cover;
background-size: center center;

}

.main2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: $color-gray;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(../media/final.png)
    ;
    background-repeat: no-repeat;
    background-size:cover;
    background-size: center center;
    height: 40vh;
    color: $color-white;
    
    button{
        font-size: 12px;
    }
    h1{
        font-size: 20px;
    }
}

#nosotros-main .container{
    text-align: center;
    padding: 200px 30px; 

}

#nosotros-main .container h2{
    padding: 30px 0px;
}
#nosotros-main .container p{

    padding: 12px;

    
}

#nuestras-clases{
    background-color:$color-gray;

}

#nuestras-clases .container{
    text-align: center;
    padding: 15px


}

#nuestras-clases .container p{
    display: none;
}

#nuestras-clases .container h3{
    color:$color-white;
    padding: 25px;
}

#nuestras-clases .container h2{
    color: $color-black;
    padding: 25px;
}

#nuestras-clases .carta, .carta2{

    border: 2px solid;
    background-position: center center;
    background-size: cover;
    padding: 25px;
    margin: 15px;
    border-radius: 20px;

    
}
#nuestras-clases .container .carta {
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url(../media/practico.png);
    
    
}

.contacto .container{
    text-align: center;

}

#contacto li{
margin: 15px 0px; 
font-weight: bold;
}

#contacto .mapa div h4{
padding: 25px;
font-size: 23px;
font-weight: bold;
}

#contacto .mapa iframe{
height: 200px;
width: 300px;
}

#contacto .mapa{
background-color:$color-gray;
display: flex;
align-items:center;
justify-content:center;
flex-direction: column;

}

